@font-face {
  font-family: "GB";
  src: url("../assets/fonts/gilroy-bold.eot");
  src: url("../assets/fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/gilroy-bold.woff2") format("woff2"), url("../assets/fonts/gilroy-bold.woff") format("woff"),
    url("../assets/fonts/gilroy-bold.ttf") format("truetype"),
    url("../assets/fonts/gilroy-bold.svg#gilroy-bold") format("svg");
}

@font-face {
  font-family: "GS";
  src: url("../assets/fonts/gilroy-semibold.eot");
  src: url("../assets/fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/gilroy-semibold.woff2") format("woff2"),
    url("../assets/fonts/gilroy-semibold.woff") format("woff"),
    url("../assets/fonts/gilroy-semibold.ttf") format("truetype"),
    url("../assets/fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
}

@font-face {
  font-family: "GR";
  src: url("../assets/fonts/gilroy-regular.eot");
  src: url("../assets/fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/gilroy-regular.woff2") format("woff2"),
    url("../assets/fonts/gilroy-regular.woff") format("woff"),
    url("../assets/fonts/gilroy-regular.ttf") format("truetype"),
    url("../assets/fonts/gilroy-regular.svg#gilroy-regular") format("svg");
}
